<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试一下模板</title>
</head>
<body>
 BAGGIO
 <p>{{data.name}}</p>
 <p>{{data['age']}}</p>
 <p>data里面有{{ data| length() }}个值</p>
 {# 没有noHave这个值 会显示default里的内容, #}
 <p>{{data.noHave | default('没有noHave这个值!')}}</p>
 {# 过滤器+true 在值存在,是空值时^#}
 <p>{{data.nothing | default('nothing为空!', True)}}</p>
{#Jinja2 是模板引擎#}
 {# if 用法 #}
<p>{% if data.age <= 35 %}</p>
<p>老了</p>
    {% elif data.age > 35 %}
    <p>老了</p>
{% else %}
<p>咬紧了</p>
{% endif %}


 {# for 用法 #}
 <ul>
{% for foo in [1,3,6] %}
    <li>{{ foo }}</li>
{% endfor %}
 </ul>


 <ul>
{% for key,value in data.items() %}
    <li><span style="color: blueviolet">{{ key }}:</span>{{ value }}</li>
{% endfor %}
 </ul>

flash演示
{% set messages = get_flashed_messages() %}
{{ messages }}

  {# flash category 用法 #}
  {# with 缩小了变量作用域 只在with里有效 #}
{% with errors = get_flashed_messages(category_filter=['error']) %}
{% if  errors %}
    <div style="background-color: brown">
        <ul>
            {% for msg in errors %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endwith %}

{% with warning = get_flashed_messages(category_filter=['warning']) %}
{% if  warning %}
    <div style="background-color: orange">
        <ul>
            {% for msg in warning %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endwith %}

</body>
</html>
